<h1>Edit contact</h1>
<div>
    {{ form_start(form, {'attr' : {'id': 'form_ok', 'method' : 'post', 'novalidate' : 'novalidate'}}) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <button type="submit">Valider</button>
    {{ form_end(form) }}
</div>


<h1>Editer les adresses</h1>
{% for address in addresses %}
    <div>
        <span>{{ address.streetNumber }}</span>
        <span>{{ address.streetName }}</span>
        <span>{{ address.zipcode }}</span>
        <span>{{ address.city }}</span>
        <a href="{{ path('address_edit', {'id': address.id}) }}">Editer</a>
    </div>
{% endfor %}
